@import url("nav.css");

a {
    text-decoration: none;
    color: #dd574c;
}

a:hover {
    color: #dd924c;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
}

#main {
    max-width: 1175px;
    margin: 0 auto;
}

h1 {
    font-family: 'Asap', Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

img {
    border-width: 0;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

li code {
    font-size: 18px;
}

li, p {
    font: 22px/1.5 'Vollkorn', Georgia, serif;
    -webkit-font-smoothing: antialiased;
    color: #343434;
}

p code {
    font-size: 14px;
}

pre {
    margin: 0 30px 0 30px;
}

#full-logo {
    text-align: center;
    clear: both;
}

#logo {
    float: left;
    margin-top: 20px;
}

.read-more {
    text-align: center;
    font: 20px 'Vollkorn', Georgia, serif;
}

article {
    padding: 48px 0;
    margin: 0 20%;
}

article .date {
    color: #d2d2d2;
    text-align: center;
    font: 20px 'Vollkorn', Georgia, serif;
}

.title a {
    color: black;
}

.title a:hover {
    color: grey;
}
