.round {
    border-radius: 125px;;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}

.photo {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.chen {
    background: url(/img/chen.jpg) no-repeat;
}

.jem {
    background: url(/img/jem.jpg) no-repeat;
}

.jem-small {
    background: url(/img/jem-200.jpg) no-repeat;
}

.left {
    float: left;
    margin-right: 40px;
}

.right {
    float: right;
    margin-left: 40px;
}
