@import url("nav.css");

a {
    text-decoration: none;
    color: #dd574c;
}

a:hover {
    color: #dd924c;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
}

#main {
    max-width: 1175px;
    padding: 22px 20px 0 20px;
    margin: 0 auto;
}

li, p {
    font: 1em/1.4 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-weight: 400;
    color: #494949;
}

li{
    margin-bottom: 10px;
}

article i {
    left: -2em !important;
    top: 0.4em !important;
    text-align: left !important;
}

p {
    font-size: 1em;
}

.photo {
    width: 250px;
}

.photo img {
    width: 290px;
}

.left {
    float: left;
    margin-right: 10px;
}
.left img {
    margin-left: -30px;
}

.right {
    float: right;
    margin-left: 10px;
}
.right img {
    margin-left: 10px;
}

.post-wide {
    width: 1000px;
    margin: 80px auto 20px;
}

.clear {
    clear: both;
}

.post {
    padding: 24px 20%;
}

img {
    border-width: 0;
}

#full-logo {
    text-align: center;
    clear: both;
}

h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}

.function {
    font-family: 'Roboto', sans-serif;
    margin: 0.2em 0 1em;
}

i{
    color:#D83007;
}

#call-4-action p {
    text-align: center;
    font-size: 22px;
}

.button {
    height: 1.8em;
    margin: 0 auto;
    padding: 0 1em;
    background-color: #454068;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.fa-contact-icon {
    text-align: center !important;
    width: 100%;
    color: white;
    line-height: 1.8em !important;
}